# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
data/
*.csv
*.feather
*.parquet
*.h5
*.db

# Notebooks
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db
